/* CSS Grids for P01 Style Guide */
/* shift alt i */
/* *{
  box-sizing: border-box;
} */

/* .block-img-filter{
  width: 31.3333%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;

} */
img {
  width: 100%;
}

/* NAV BAR ----------------------------------------------------------- */

nav{
  margin: 12px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 60;
}

.brand-name{
  width: 60%;
  margin-right: 1%;
}

.container-nav-left{
  display: flex;
width: 50%;
}

.container-nav-right{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}


.block-nav{
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;

}

.block-shopping-cart{
  width: 10%;
}

.search-bar{
  width: 70%;
}

.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-color: #6066F5;
}

@media(max-width:46.25rem){
  .hamburger{
    display: block;
    width: 10%;
  }

  .hamburger.active{
    padding-bottom: 15rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg); 
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg); 
   }
   /* .nav-menu{
     position: fixed;
     left: -100%;
     top: 70px;
     gap: 0;
     flex-direction: column;
     width: 100%;
     text-align: center;
     transition: 0.3s;
   }

   nav-item{
     margin: 16px 0;
   }

   .nav-menu.active{
     left:0
   } */

   .nav-menu{
    position: fixed;
    top: -100vh;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 20rem;
  }

  .container-nav-left{
    margin: 16px 0;
  }
  .container-nav-left{
    margin: 16px 0;
  }

  .container-nav-left.active{
    left:0
  }
  .container-nav-right.active{
    left:0
  }
  .nav-menu.active{
    top:70px
  } 

}


/* PRODUCT LISTING --------------------------------------------------- */

.container-product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  margin-right: 4%;
  margin-left: 4%;
}

.block-product-listing {
  width: 32.333333%;
}

.container-filter-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-right: 4%;
  margin-left: 4%;
  gap: 1%;
}

.block-filter-button{
  width: 20%;
  /* justify-content: center; */
}

.container-filter {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4%;
  margin-left: 4%;
  gap: 1%;
  /* justify-content: space-between;
  margin-top: 32px;
  margin-right: 64px;
  margin-left: 64px; */
}

.block-filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 5.5%;
  padding: 2%;
}

/* CHECKOUT CART ---------------------------------------------------- */ 

.main-container-checkout-cart {
  display: flex;
  flex-wrap: wrap;
  margin: 64px;
}

.main-block-shipping-method {
  margin-top: 16px;
  margin-right: 64px;
  flex-grow: 1;
}

.main-block-checkout-cart {
 flex-grow: 48;
}

.container-checkout-cart {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-right: 64px;
  border-top: 1px solid #F5BF6C;
  padding-top: 16px;
}

.block-checkout-cart {
  width: 15em;
  margin-right: 32px;
}

.container-total-amount {
  display: flex;
  justify-content: space-between;
}

/* PRODUCT DESCRIPTION -----------------------------------------------*/
.container-product-description{
  display: flex;
  margin-right: 4%;
  /* margin-left: 64px; */
}
.container-product-description-img-set{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
}

.container-product-description-text-set{
  display: flex;
  flex-wrap: wrap;
  width: 33.33333%;
  margin-left: 2%;
}

.block-product-description-text-set{
  width: 100%;
}

.img-product-description {
  width: 100%;
}

.container-product-description-name-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-product-description-color-picker{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  height: 25%;
}

.block-product-description-color-picker{
  width: 18.5%;
  /* margin-right: 2%; */
  margin-bottom: 3%;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}


.block-product-description-img{
  width: 49%;
  margin-bottom: 2%;
}

.container-product-description-details{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-product-description-details{
 border-bottom: black;
 border-bottom-style: solid;
 border-width: 0.2rem;
 width: 100%;
 margin-bottom: 0.5rem;
}

.first-description-details{
  border-top: black;
  border-top-style: solid;
  border-width: 0.2rem;
  cursor: pointer;
}

.first-description-details.active{
 padding-bottom: 10rem;
}



.fabric-description{
  display: flex;
  height: 50vh;
  width: 60%;
  align-items: center;
  margin-left: 4%;
}

.container-border-img{
  position: relative;
  right: 2rem;
}

.block-border-img{
  height:auto;
  width:102vw;

}

.container-benefits{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-top: 5rem;

}

.block-benefits-title{
width: 100%;  
border-bottom: #F5BF6C;
border-bottom-style: solid;
border-bottom-width: 0.15rem;
margin-right: 64px;
margin-left: 64px;
}

.block-benefits-img-text1{
  width: 100%;
}

.container-benefits-img-text{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 4rem;
  margin-right: 64px;
  margin-left: 64px;

}
.block-benefits-img-text2{
  width: 25%;
  min-width: 13.5rem;
  margin-left: 0.5%;
  margin-right:0.5%;
}

#select-button{
  width: 100%;
  margin-top: 16%;
}

#name-price{
  height: 30%;
}

/* ABOUT US --------------------------- */

.container-about-us{
display: flex;

padding-top: 5rem;

border-top: #F5BF6C;
border-top-style: solid;
border-top-width: 0.15rem;
}

.block-about-us1{
width: 33.3333333%;
}

.block-about-us2{
  width: 66.666666%;
  }

/* HOME PAGE */

.home-img{
  height: auto;
  width: 100vw;
}

.home-img-pos{
  position: relative;
  right: 2rem;
}

.home-text-pos{
  position: relative;
  bottom: 40vh;
  left: 60%;
}

/* FOOTER */

footer{
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  padding: 64px;
  /* justify-content: space-between; */
  /* background-color: #01020e; */
}

.block-footer {
width: 31.3333%;
margin-left: 1%;
margin-right: 1%;
text-align: center;
}



/* .block-footer2 {
  flex-grow: 2;
} */

@media(min-width:77.875rem){
  .block-product-listing {
    width: 24%;

  }
 

}

/* MOBILE SWITCH ------------------------------------------------------------ */
/* 46.25rem = 740px */

@media(max-width:46.25rem){
  /* NAVBAR */
  .block-nav{
    width: 100%;
  }

  /* PRODUCT DESCRIPTION PAGE */

  .container-product-description{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .container-product-description-img-set{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
  }
  
  .container-product-description-text-set{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 4%;
    margin-left: 4%;
  }

  .block-product-description-text-set{
    width: 98%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .block-product-description-color-picker{
    width: 7.5%;
    gap: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .block-benefits-img-text2{
    width: 31.333333%;
    margin-left: 1%;
    margin-right:1%;
    min-width: 0rem;
  }

  /* FOOTER */
  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 64px;
    padding: 64px;
    /* justify-content: space-between; */
    /* background-color: #01020e; */
  }

  .block-footer {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    }
  





}
