/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: 'Neue Montreal', 'Space Mono', sans-serif;
  padding: 2rem;
}


/* navbar Styling  */


.brandName{
grid-column-start: 1;
grid-column-end: 5;
place-self: center;


}

#navButton1{
  grid-column-start: 6;
  grid-column-end: 8;
}

#navButton2{
  grid-column-start: 8;
  grid-column-end: 10;
}

#navButton3{
  grid-column-start: 10;
  grid-column-end: 12;
}



/* header{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: left;

} */

/* nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

.button-nav {
  display: inline-block;
  padding: 1rem;
  color: rgb(21, 20, 26);
  background-color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  border-radius: 3px;
  transition-duration: 0.5s;
}

/* Office hours w/ Enneas */
.button-nav:hover, .button-nav:focus {
  background-color: #6066F5;
  color: #ffffff;
  box-shadow: 3px 2px 6px rgb(226, 226, 226);
  font-style: normal;
}


/* navbar Styling end  */

/* productlisting style  */

.new_section{
  margin-top: 2rem;
}

.description{
  grid-column: 1/5;
}
.img{
  width: 100%;
  box-shadow: 3px 2px 6px rgb(226, 226, 226);

}

.filter-button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-left:14.55%;
  padding-right: 14.55%; */
  color: rgb(21, 20, 26);
  background-color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  border-radius: 3px;
  transition-duration: 0.5s;
  width: 100%;
  box-shadow: 3px 2px 6px rgb(226, 226, 226);
  

  /* border: black;
  border-width: 0.1rem;
  border-style: solid; */
}

#button-section{
  /* justify-content: center; */
  align-items:center;

}




/* productlisting style end  */



.element {
  margin-top: 40px;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
  font-family: 'GT Flexa';
  font-weight: bold;
  font-size: 2.5em;
  margin-block-start: 0rem;
  margin-block-end: 0rem;

}

h2 {
  font-size: 1.75em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: normal;
}

h5 {
  font-family: 'Space Mono';
  font-size: 0.5625em;
  font-style: normal;
  font-weight: 400;
}

.h3-product-listing {
  margin-top: 4px;
}

.h3-shipping-address {
  margin-top: 0px;
}

.h5-product-listing {
  margin-bottom: 4px;
}

.h5-checkout-cart {
  margin-bottom: 4px;
  margin-top: 0px;
}

p {
  margin-top: 0;
  width:60%;
  font-size: 0.9em;
  line-height: 145%;
}

.a-in-text-link {
  text-decoration: none;
  color: #6066F5;
}

.p-product-listing {
  width:25%;
}

.p-statement {
  font-size: 2.5em;
  font-weight: lighter;
  margin-bottom: 0;
}

form {
  width: 100%;
  background-color: #f7f7f7;
  padding: 48px;
  border-radius: 6px;
}

button {
  background-color: #6066F5;
  border: none;
  color: white;
  /* margin-top: 32px; */
  width: 23.75em;
  height: 4em;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  /* font-family: 'PP Neue Montreal';s */
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: 0.15s;
  
}

button:hover {
  background-color: white;
  color: rgb(21, 20, 26);
  box-shadow: 3px 2px 6px #e2e2e2;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/



/* Styling for the navigation button */

input[type=text] {
  border: none;
  box-shadow: 3px 2px 6px rgb(226, 226, 226);
  border-radius: 3px;
  padding: 16px;
  width: 280px;
}

input[type=text]:focus {
  outline-color: rgb(168, 168, 168);
  box-shadow: none;
}

input[type=text]:hover {
  background: rgb(250, 250, 250);
}

.label-text-input {
display: block;
margin-top: 30px;
margin-bottom: 8px;
color: rgb(59, 59, 59);
}

img {
  transition: 0.15s;
}

.img-product-listing {
  width: 100%;
}

.img-checkout-cart {
  width: 100%;
  border-radius: 3px;
}

.img-as-a-link {
  width: 20vw;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* IN-TEXT-LINK and IMAGE-AS-A-LINK found on w3schools.com */

a:hover, a:focus {
font-style: italic;
}

.img-product-listing:hover, .img-product-listing:focus {
  opacity: 0.9;
  box-shadow: 3px 2px 6px rgb(226, 226, 226);
}


/* 
  COMBINED ELEMENTS -------------------
*/